Source: libinput-touch-translator
Section: utils
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (=13),
               pkg-config,
               qt5-qmake,
               libinput-dev,
               libudev-dev,
               qtbase5-dev,
               libkf5xmlgui-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/libinput-touch-translator
Vcs-Git: https://github.com/ukui/libinput-touch-translator.git
Vcs-Browser: https://github.com/ukui/libinput-touch-translator

Package: libinput-touch-translator
Architecture: any
Multi-Arch: allowed
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: System service translates gestures to shortcuts
 This package provides the service which can capture touch events
 and translates them to keyboard shortcuts.
 It also provides a graphical shortcut configuration interface.
